.app {
    max-width:  80rem;
}

.content {
    display: flex;
}

.details {
    flex : 1 1 65%;
}

.list {
    flex : 1 1 35%;
}

@media screen and (max-width: 48rem){
    .content{
        flex-direction: column;
    }
}